name: pointcloud_to_map
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - matplotlib
  - scipy
  - pip
  - pip:
    - open3d  # Open3D is best installed via pip in many conda setups